.register-form {
  width: 350px;
  padding: 40px;
  border: 1px solid #ccc;

  text-align: center;
  font-size: 14px;
  background-color: #fff;
}

.logo {
  margin: 10px 0px 30px 0px;
}

.button {
  margin: 30px 0px;
  background-color: #0095f6;
}
