.post-form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #efefef;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
