.post-card {
  width: 600px;
  border: 1px solid #efefef;
  margin-bottom: 50px;
  background-color: #fff;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  &__header {
    margin: 16px;
    display: flex;
    align-items: center;
  }
  &__avatar {
    margin-right: 16px;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 16px;
  }
}
