.wrapper {
  display: flex;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;
  .avatar {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    flex: 7;
    display: flex;
    font-size: 26px;
    font-weight: 300;
    margin-top: 10px;
    p {
      margin-bottom: 0;
    }
    .name {
      margin-right: 10px;
    }
  }
}
.list {
  margin-bottom: 50px;
}
