@import '../../assets/styles/color';

.header {
  position: fixed;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 54px;
  min-width: 100vw;
  background-color: $white-color;
  border-bottom: $border-color;
  .logo {
    color: #333333;
  }
  .logo:hover {
    text-decoration: none;
    color: #333333;
  }

  .search {
    background-color: $background-color;
    border: $border-color;
    color: $text-color;

    font-size: 14px;
    padding: 3px 20px;
  }
  .search:focus {
    outline: none !important;
  }
}
