@import '../../../../assets/styles/color';
.register-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__nav {
    width: 350px;
    padding: 20px 40px;
    border: $border-color;
    margin-top: 20px;

    text-align: center;
    font-size: 14px;
    background-color: $white-color;
  }
}
