.post-card {
  width: 600px;
  border: 1px solid #efefef;
  margin-bottom: 50px;
  background-color: #fff;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  &__header {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .infoUser {
      display: flex;
      align-items: center;
    }
  }
  &__image img {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
  &__footer {
    margin: 16px;
    .list-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      &__left {
        .icon-footer {
          margin: 0px 20px 0px 0px;
        }
      }
      &__right {
      }
    }
  }
  a {
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
}

.number-of-likes {
  font-size: 16px;
}
