.footer {
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
    li {
      a {
        font-size: 13px;
        font-weight: 600;
        color: #0958a2;
        cursor: pointer;
        margin: 0 8px 0 0;
        text-decoration: none;
      }
    }
  }
  .malburo {
    p {
      font-size: 12px;
      font-weight: 600;
      color: #8e8e8e;
    }
  }
}
