$white-color: #fff;

$background-color: #fafafa;
$border-color: 1px solid rgba(219, 219, 219, 1);

$text-color: rgb(33, 37, 41);
$text-color-dark: #000;
$text-color-light: rgba(199, 199, 199, 1);
